# CLI Build
/runtipi-cli-go

# CLI Created Files
/apps
/data
/app-data
/state
/repos
/media
/traefik
/user-config
/backups
/logs
/docker-compose.yml
/VERSION
/.env

# Test Files
/internal/constants/assets/RUNTIPI_VERSION
/internal/constants/assets/CLI_VERSION
/.env.local